/* Import the google web fonts you want to use */
@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: "Cookie", cursive;
  font-size: 20px;
  line-height: 1.5;
  background-color: rgba(200, 207, 215, 0.91);
}

body {
  padding: 0 3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cookie", serif;
  letter-spacing: 2px;
}

p {
  margin-bottom: 1.5em;
}

.title--main {
  margin-block-end: 0;
}

.logo {
 height: 300px;
 width: 300px;
}
.title{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  -ms-flex-align: center;
  flex-direction: column;
   
}

.image{
  height: 300px;
  width: 300px;
  padding-right: 3rem;
  
}

.about_text{
  display: flex;
  text-align: center;
  color: #404040;
  font-family: "Cookie", cursive;
  font-size: 35px;
  line-height: 1.5;
}
.about__1{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 }

 .about__2{
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  padding-right: 5rem;
 }