/* Import the google web fonts you want to use */
@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,

button,
input,
select,
textarea {
  color: #404040;
  font-family: "Cookie", cursive;
  font-size: 20px;
  line-height: 1.5;
  background-color: white;
}

body {
  padding: 0 3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cookie", serif;
  letter-spacing: 2px;
  color: rgb(233, 196, 210);
}

p {
  margin-bottom: 1.5em;
}

.title--main {
  margin-block-end: 0;
}

.logo {
  height: 200px;
  width: 200px;

}

.title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  -ms-flex-align: center;
  flex-direction: column;

}

.image {
  height: 190px;
  width: 130px;
  padding-right: 3rem;

}

.about_text {
  text-align: center;
  color: #404040;
  font-family: "Cookie", cursive;
  font-size: 35px;
  line-height: 1.5;
}

.about__1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1ex;
  padding-left: 1ex;
  margin-left: 5ex;
 }

.caked_main {
  text-align: center;
}

.buttons {
  color: white;
  border: solid rgb(178, 200, 188);
  background-color: rgb(233, 196, 210);
  font-family: 'Shadows Into Light', cursive;
}

.create_links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 35px;
  padding-top: 50px;
}

.cake_item {
   justify-content: center;
}

.create_cake {
  justify-content: center;
}

.create_cupCake {
  padding-left: 3px;
  justify-content: center;
}

.create_cookie {
  padding-left: 15px;
  justify-content: center;
}

.cup_photo {
  padding-left: 15px;
}

.cake_btn {
  padding-left: 1px;
}

.cup_btn {
  padding-left: 0px;
}

.cook_btn {
  padding-left: 3px;
}