.orderForm {
    font-family: 'Shadows Into Light', cursive;
}

.buttons {
    color: white;
    border: solid rgb(178, 200, 188);
    background-color: rgb(233, 196, 210);
    font-family: 'Shadows Into Light', cursive;
}

.button__action {
    color: white;
    border: solid  rgb(233, 196, 210);
    background-color: rgb(178, 200, 188);
    font-family: 'Shadows Into Light', cursive;
}

.alert {
 background-color: lightgray;
}

.alert__title {
    font-family: "Cookie", serif;
    font-size: x-large;
    font-weight: bold;
    color: black;
}

.alert__body {
    font-family: "Cookie", serif;
    font-size: large;
}

.alert__btn {
    color: white;
    border: solid rgb(178, 200, 188);
    background-color: rgb(233, 196, 210);
    font-family: 'Shadows Into Light', cursive;
}

.toOrders {
    padding-top: 1ex;
}

.feedback {
    border: 1px dotted  rgb(233, 196, 210);
    padding: 1rem;
    background-color:rgb(178, 200, 188);
    font-family: "Cookie", serif;
    position: absolute;
    top: 20%;
    left: 50%;
    width: 70%;
    transform: translate(-50%, -50%);
    animation: 1s slideDown;
  }

  .invisible {
    display: none;
  }
  
  .visible {
    display: block;
  }