.orders {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.order {
    background-color: rgb(225, 228, 237);
    border: .1em solid rgb(179, 189, 176);
    color: black;
    padding: 0.5rem;
    margin: 0.5rem;
    font-family: "Cookie", cursive;
}

.order__footer {
    margin: 1rem 0 0.252rem 0;
    font-style: italic;
}

.order__header {
    font-size: larger;
    font-weight: 865;
    line-height: 2.75rem;
}

.search_text {
    color: rgb(233, 196, 210);
}

.buttons {
    color: white;
    border: solid rgb(178, 200, 188);
    background-color: rgb(233, 196, 210);

}