.orders {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.order {
    background-color: rgb(225, 228, 237);
    border: .1em solid rgb(179, 189, 176);
    color: black;
    padding: 0.5rem;
    margin: 0.5rem;
    font-family: "Cookie", cursive;
}

.order__footer {
    margin: 1rem 0 0.252rem 0;
    font-style: italic;
}

.order__header {
    font-size: larger;
    font-weight: 865;
    line-height: 2.75rem;
}

.search_text {
    color: #404040;
}

.buttons {
    color: white;
    border: solid rgb(178, 200, 188);
    background-color: rgb(233, 196, 210);
    font-family: 'Shadows Into Light', cursive;
}

.feedback {
    border: 1px dotted  rgb(233, 196, 210);
    padding: 1rem;
    background-color:rgb(178, 200, 188);
    font-family: "Cookie", serif;
    position: absolute;
    top: 20%;
    left: 50%;
    width: 70%;
    transform: translate(-50%, -50%);
    animation: 1s slideDown;
  }

  .invisible {
    display: none;
  }
  
  .visible {
    display: block;
  }

  .alert {
    background-color: lightgray;
   }
   
   .alert__title {
       font-family: "Cookie", serif;
       font-size: x-large;
       font-weight: bold;
       color: black;
   }
   
   .alert__body {
       font-family: "Cookie", serif;
       font-size: large;
   }
   
   .alert__btn {
       color: white;
       border: solid rgb(178, 200, 188);
       background-color: rgb(233, 196, 210);
       font-family: 'Shadows Into Light', cursive;
   }